{#
/**
 * @file
 * Template for the ILAS Site Assistant floating widget.
 *
 * Available variables:
 * - disclaimer: The disclaimer text to display.
 * - config: Configuration array.
 */
#}
<div class="ilas-assistant-widget" id="ilas-assistant-widget" aria-hidden="true">
  {# Widget toggle button - rendered by JS #}
</div>
